<% layout('../layouts/boilerplate') %>

<div class="container">
  <h1 class="text-center fw-bold mb-3">
    Explore the available volunteering opportunities here!
  </h1>
  <div class="row row-cols-3">
    <% for(let opportunity of allOpportunities) { %>
    <div class="card mb-3 mt-3">
      <div class="col">
        <div class="col">
          <% if (opportunity.images.length) { %>
          <img
            class="img-fluid mt-2"
            alt=""
            src="<%=opportunity.images[0].url%>"
          />
          <% } else { %>
          <img
            class="img-fluid mt-2"
            alt=""
            src="https://images.unsplash.com/photo-1564326896644-f775b39b09a2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHw5NjA2MTQ5fHx8fHx8fDE2NTIxMTMzNzQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"
          />
          <% } %>
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title"><%= opportunity.title %></h5>
            <p class="card-text"><%= opportunity.description %></p>
            <p class="card-text">
              <small class="text-muted"> <%= opportunity.location%> </small>
            </p>
            <a
              class="btn btn-primary"
              style="width: 100%"
              href="/opportunities/<%=opportunity._id%>"
              >View <%=opportunity.title%></a
            >
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
